<template>
  <div class="search-filter-group">
    <div class="sidebar-block"
         v-for="block in facets"
         v-if="block.view != 'hidden'"
         :class="[{'is-collapsed': block.toggled}, block.view ? '-'+block.view : '']">


      <template v-if="block.type === 'select' && block.isShown">
        <basic-select
          :placeholder="block.title"
          :options="block.items"
          :selected-option="block.selected"
          @update="(o) => block.selected = o"
          v-model="selected[block.id] = block.selected" />
      </template>

      <template v-else>

        <h4 v-if="block.view !='inline'" class="sidebar-block__title" @click="toggle(block)">{{ block.label }}</h4>

        <div class="sidebar-block__items">

          <template v-for="(item, index) in block.items">
            <div class="sidebar-block__item">
              <div class="sidebar-block__label">
                <checkbox :title="item.text" v-if="block.type === 'checkbox'">
                  <input type="checkbox"
                         :value="item.value"
                         :id="item.value"
                         v-model="selected[block.id]">
                  <template slot="after">
                    <div class="sidebar-block__amount" v-if="item.amount">{{ item.amount }}</div>
                    <div class="sidebar-block__color"
                         v-if="item.color"
                         :style="{backgroundColor: item.color}">{{ item.amount }}
                    </div>
                  </template>
                </checkbox>
                <radio :title="item.text" v-if="block.type == 'radio'"
                       :class="{'is-selected': item.value == selected[block.id]}">
                  <input type="radio"
                         :value="item.value"
                         v-model="selected[block.id]">
                  <template slot="after">
                    <div class="sidebar-block__amount" v-if="item.amount">{{ item.amount }}</div>
                    <div class="sidebar-block__color"
                         v-if="item.color"
                         :style="{backgroundColor: item.color}">{{ item.amount }}
                    </div>
                  </template>
                </radio>
              </div>
            </div>

            <a href="#"
               :class="['sidebar-block__more-link link',{'is-active': block.expanded}]"
               @click.prevent="expand(block)"
               v-if="index === 4 && block.items.length > 5">Ещё +</a>

            <a href="#"
               class="sidebar-block__more-link link"
               @click.prevent="expand(block)"
               v-if="index > 4 && index === block.items.length - 1">Скрыть</a>
          </template>

        </div>

      </template>

    </div>

    <a href="javascript:void(0)"
       data-rt="search-filter-found-btn"
       class="btn -lilac -lg -is-not-hoverable"
       @click="jtBus.sidebar.isVisible = false">Найдено 10 вакансий</a>
  </div>
</template>

<script>
  import _ from 'lodash'
  import vue from 'Vue'
  import store from 'store'
  import {rest, reverse} from '../../api'
  import Radio from '../forms/elements/Radio.vue'
  import Checkbox from '../forms/elements/Checkbox.vue'
  import BasicSelect from '../forms/elements/BasicSelect.vue'
  import qs from 'query-string'
  import deepcopy from 'deepcopy'

  import Cookies from 'js-cookie'
  import $ from 'jquery'

  export default {
    name: 'search-filter',
    data() {
      return {
        query: '',
        facetsReversed: {},
        selected: {
          metro: [],
          salary: ''
        },
        facets: [
          {
            id: 'country',
            title: 'Выберите страну',
            type: 'select',
            view: 'select',
            isShown: true,
            selected: {text: 'Россия', value: 0},
            items: [
              {text: 'Россия', value: 0},
              {text: 'Швеция', value: 1},
              {text: 'Турция', value: 2},
              {text: 'Польша', value: 3},
              {text: 'Франция', value: 4},
              {text: 'Германия', value: 5},
              {text: 'Япония', value: 6},
              {text: 'Китай', value: 7}
            ]
          },
          {
            id: 'country',
            title: 'Выберите регион',
            type: 'select',
            view: 'select',
            isShown: true,
            selected: {text: 'Ленинградская область', value: 1},
            items: [
              {text: 'Московская область', value: 0},
              {text: 'Ленинградская область', value: 1},
              {text: 'Архангельская область', value: 2},
              {text: 'Калининградская область', value: 3},
              {text: 'Ростовская область', value: 4}
            ]
          },
          {
            id: 'country',
            title: 'Выберите город',
            type: 'select',
            view: 'select',
            isShown: true,
            selected: {text: 'Санкт-Петербург', value: 0},
            items: [
              {text: 'Санкт-Петербург', value: 0},
              {text: 'Гатчина', value: 1},
              {text: 'Выборг', value: 2},
              {text: 'Всеволожск', value: 3}
            ]
          },
          {
            id: 'metro',
            title: 'Метро',
            type: 'checkbox',
            toggled: false,
            expanded: false,
            items: [
              {text: 'Станция 1', value: 'metro1', color: '#ff4949'},
              {text: 'Станция 2', value: 'metro2', color: '#4b5684'},
              {text: 'Станция 3', value: 'metro3', color: '#4b5684'},
              {text: 'Станция 4', value: 'metro4', color: '#ff4949'},
              {text: 'Станция 5', value: 'metro5', color: '#ff4949'},
              {text: 'Станция 6', value: 'metro6', color: '#4b5684'},
              {text: 'Станция 7', value: 'metro7', color: '#ff4949'},
              {text: 'Станция 8', value: 'metro8', color: '#4b5684'},
            ]
          },
          {
            id: 'salary',
            title: 'Заработная плата от',
            type: 'radio',
            toggled: false,
            expanded: false,
            items: [
              {text: '10 000', value: '10000', amount: '285 647'},
              {text: '15 000', value: '15000', amount: '175 839'},
              {text: '20 000', value: '20000', amount: '78 884'},
              {text: '25 000', value: '25000', amount: '45 344'},
              {text: '30 000', value: '30000', amount: '39 903'},
              {text: '40 000', value: '40000', amount: '27 847'},
              {text: '60 000', value: '60000', amount: '22 378'},
              {text: '80 000', value: '80000', amount: '9 458'},
            ]
          },
          {
            id: 'employer',
            title: 'Работодатель',
            type: 'radio',
            view: 'inline',
            toggled: false,
            expanded: false,
            items: [
              {text: 'Прямой', value: 'Прямой'},
              {text: 'Агенство', value: 'Агенство'},
              {text: 'Любой', value: 'Любой'},
            ]
          },
          {
            id: 'occupation',
            title: 'Профессии',
            type: 'radio',
            view: 'links',
            toggled: false,
            expanded: false,
            items: [
              {text: 'Профессия 1', value: 'Профессия1'},
              {text: 'Профессия 2', value: 'Профессия2'},
              {text: 'Профессия 3', value: 'Профессия3'},
              {text: 'Профессия 4', value: 'Профессия4'},
              {text: 'Профессия 5', value: 'Профессия5'},
              {text: 'Профессия 6', value: 'Профессия6'},
              {text: 'Профессия 7', value: 'Профессия7'},
              {text: 'Профессия 8', value: 'Профессия8'},
              {text: 'Профессия 9', value: 'Профессия9'},
              {text: 'Профессия 10', value: 'Профессия10'},
              {text: 'Профессия 11', value: 'Профессия11'},
            ]
          },
          {
            id: 'schedule',
            title: 'График работы',
            type: 'checkbox',
            selected: [],
            toggled: false,
            expanded: false,
            items: [
              {text: 'Полная', value: 'Полная', amount: '285 647'},
              {text: 'Частичная', value: 'Частичная', amount: '175 839'},
              {text: 'Временная', value: 'Временная', amount: '78 884'},
              {text: 'Стажировка', value: 'Стажировка', amount: '45 344'},
              {text: 'Удаленная', value: 'Удаленная', amount: '39 903'},
            ]
          }

        ]
      }
    },
    components: {
      Radio: Radio,
      Checkbox: Checkbox,
      BasicSelect: BasicSelect
    },
    methods: {
      search(isPopulate) {
        let selected = deepcopy(this.selected)

        selected['query'] = this.query
        // TODO: remove stub
        let sel = {}
        _.each(selected, (v, k) => {
          if (Array.isArray(v)) {
            if (v.length) sel[k] = v
          }
          else {
            if (v) sel[k] = v
          }

        })
        selected = sel

        if (isPopulate) {
          selected['offset'] = $('[data-offset_next]').data('offset_next')
        }


        let queryString = qs.stringify(selected)
        let url = reverse('api:SearchViewSet-facet-search') + (queryString.length ? '?' + queryString : '')


        rest.get(url).then((result) => {

          if (result.data.success) {
            this.facets = []

            _.each(result.data.data.facets, val => {
              if (val['items'].length < 2) return;
              if (!this.selected[val['id']]) {

                this.$set(this.selected, val['id'], val['type'] == 'radio' ? '' : [])
              }

              let facet = {
                id: val['id'],
                title: val['title'],
                label: val['label'],
                type: val['type'] || 'checkbox',
                toggled: false,
                expanded: false,
                view: val['view'] || '',
                items: []
              }

              let facetReversed = {}

              _.each(val['items'], v => {
                let item = {
                  text: v[val['title']],
                  value: v[val['id']],
                  amount: v['count'],
                  type: val['type']
                }

                facet['items'].push(item)
                facetReversed[item['value']] = item

              })

              this.facets.push(facet)
              this.facetsReversed[val['id']] = facetReversed

            })

            let updated = {}
            _.each(this.selected, (v, k) => {
              if (v.length && this.facetsReversed[k]) {
                if (!updated[k]) updated[k] = [];
                _.each(v, k2 => {
                  updated[k].push(deepcopy(this.facetsReversed[k][k2]))
                })
              }
            })

            this.jtBus.$emit('filtersUpdate', updated)
            if (this.query) {
              this.jtBus.$emit('historySet', {url: '?' + queryString, title: this.query})
            }


            window.history.pushState(null, '', '?' + queryString)

            let jqEl = $('[data-id="search_results"]')
            jqEl.html(result.data.data.html)
            let jqElItems = jqEl.find('[data-id="search_result_items"]')
            let jqFooter = jqEl.find('[data-id="search-footer"]')

            if (isPopulate) {
              let jq = $(result.data.data.html)
              jqElItems.append(
                  jq.find('[data-id="search_result_items"]')
              )
              jqFooter.replaceWith(jq.find('[data-id="search-footer"]'))
            }
            else {
              jqEl.html(result.data.data.html)
            }

          }
        })
      },
      toggle(block) {
        block.toggled = !block.toggled
        Cookies.set('toggled_' + block.id, block.toggled)
      },
      expand(block) {
        block.expanded = !block.expanded
      }
    },
    created() {
      let uri = qs.parse(window.location.search)

      this.jtBus.$on('moreShow', () => {
        this.search(true)
      })
      this.jtBus.$on('searchChange', val => this.query = val)
      this.jtBus.$on('filtersSet', sel => {
        let selected = {}
        _.each(sel, (v, k) => {
          selected[k] = v.map(v2 => v2['value'])
        })

        this.$set(this, 'selected', selected)
      })

      this.$watch('selected', () => this.search(), {deep: true})
      this.$watch('query', () => this.search())


      let selected = {}
      let radios = {employer_type_id: 3}

      _.each(uri, (v, k) => {
        if (k == 'query') return;

        if (!Array.isArray(v) && !radios[k]) {
          v = [v]
        }
        selected[k] = v
      })


      this.$set(this, 'selected', selected)


      // this.jtBus.filter = this.filter;

      // this.jtBus.$on('setFilterUri', this.setFilterUri);
      // this.jtBus.$on('setFilterSelected', this.setFilterSelected);
      //
      // this.jtBus.$emit('setFilterSelected');
      // this.jtBus.$emit('setFilterUri');

      // this.getBlocksToggled();
    },
  }
</script>
